.zSearch {
  height: 46px;
  border-bottom: 1px solid #dddddd;
  padding: 0 15px;
  padding-right: 0;
  font-size: 14px;
  color: #333333;
}


.content {
  padding: 0;
  border: 1px solid #dddddd;
  color: #333333;
}

.zButton {
  float: right;
  width: 80px;
  margin-top: 8px;

  font-size: 14px;
  height: 30px;
  margin-right: 15px;
}
.zButton:after {
  clear: both;
}
.zButton1 {

}
.zButton2 {
  background-color: #5A92D6;
  color: #ffffff;
}

.ant_advanced_search_form {
  padding-top: 10px;

}
.formItem {
  display: flex;
  margin-bottom: 12px;
}
